.upperbody{
    height: 420px;
    background-image: radial-gradient( circle farthest-corner at 12.3% 19.3%,  rgba(85,88,218,1) 0%, rgba(95,209,249,1) 100.2% );
    width: auto;
    margin-bottom: 350px;

}
.logintext{
    position: relative;
    padding-top: 7%;
    text-align: center;
    color: white;
}
.login-container{
    position: relative;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 1%;
}
.login-logo{
    position: relative;
    margin-left: -41.5%;
}
.login-logo img{
    position: absolute;
    width: 20%;
    margin-top: 19%;
    background: #282726;
    border-radius: 4.5rem;
    padding: 5%;
}
.login-form-1{
    padding: 9%;
    background-color: #08AEEA;
    background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2), 0px 9px 26px 0px rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
    text-align: center;
    margin-bottom:12%;
    color:#fff;
}
.login-form-2{
    padding: 9%;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2), 0px 9px 26px 0px rgba(0, 0, 0, 0.19);
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}
.login-form-2 h3{
    text-align: center;
    margin-bottom:12%;
    color: #fff;
}
.submitbtn {
    font-weight: bold;
    width: 50%;
    color: white;
    border: none;
    border-radius: 1.5rem;
    padding:2%;
    background-image: linear-gradient(to right, #FF512F 0%, #F09819 51%, #FF512F 100%)
}
.submitbtn:hover {
 background-position: right center; 
}
.forgetpwd{
    color: blue;
    font-weight: 600;
    text-decoration: none;
}
.forgetpwd:hover{
    text-decoration:none;
    color:black;
}
@media only screen and (max-width:420px) {
.login-form-1, .login-logo, .login-text{
    display: none;
  }
.login-container{
    margin-left:0px;
    margin-right:0px;
    margin-top: -36px;
    height: 100%;
}

}