@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
.card-body{
	padding-top: 4px;
	padding-bottom: 4px;
}
.product_name{
	margin-bottom: 4px;
	font-size: 16px;
}
.product_desc{
	margin-bottom: 4px;
	min-height: 53px;
	font-size: 14px;
    font-family: 'Fredoka One', cursive;
}
.price{
	margin-bottom: 4px;
	font-weight: 100;
	font-size: 12px;
    font-family: 'Fredoka One', cursive;
}
.price_rate{
	font-weight: 900;
    font-size: 18px;
    font-family: 'Fredoka One', cursive;
}
.profit{
	margin-bottom: 4px;
	font-weight: 200;
	font-size: 14px;
    font-family: 'Fredoka One', cursive;
}
.profit_rate{
  font-weight: 900;
  font-size: 18px;
  color: green;
  font-family: 'Fredoka One', cursive;
  color: green;
}
.cardhr{
	margin-bottom: 3px;
	margin-top: 1px;
}
.buy_btn{
	padding: 5px 4px;
    border: 1px solid #999;
    border-radius: 16px;
    height: 30px;
    font-size: 12px;
    min-width: 103px;
    text-align: center;
}
.share_btn{
	padding: 5px 4px;
    border: 1px solid #999;
    border-radius: 16px;
    height: 30px;
    font-size: 12px;
    min-width: 103px;
    text-align: center;
}
.brand{
  top:1px;
  font-size: 14px;
  font-family: 'Fredoka One', cursive;
}
.card-notify-badge {
        position: absolute;
        left: 0px;
        top: 0px;
        background: #f2d900;
        text-align: center;
        border-radius: 0px 30px 30px 30px; 
        color: #000;
        padding: 5px 10px;
        font-size: 14px;
        font-family: 'Fredoka One', cursive;
}
.cost_price{
	color: red;
    font-family: 'Fredoka One', cursive;

}